.book_form{
    width: 800px;
    margin: auto;
    padding: 20px;
    background: rgb(8, 155, 223);
    font-size: 16px;
    font-family: monospace;
    opacity: 85%;
    color: white;
}

.book_form{
    text-align: center;
    color: #f7fcfb;
}
.book_form span{
    text-align: center;
    color: rgb(125, 65, 22);
    border-left: 2px solid rgb(255, 255, 255);
    border-right: 2px solid rgb(255, 254, 254);
    padding: 0px 10px;
}

body{
    background: url(../images/homeslide2.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}


.book_form h1{
    color: rgb(250, 253, 253);
    font-size: 40px;
}