.formlft{
    width: 800px;
    margin: auto;
    padding: 20px;
    background: chocolate;
    font-size: 16px;
    font-family: monospace;
    opacity: 85%;
    color: white;
}

.formhead{
    text-align: center;
    color: #4a254a;
}
.formhead span{
    text-align: center;
    color: rgb(125, 65, 22);
    border-left: 2px solid black;
    border-right: 2px solid black;
    padding: 0px 10px;
}

body{
    background: url(../images/formback12.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}


.formlft h1{
    color: black;
    font-size: 40px;
}